/build/
/build-cuda/
/cmake-build-*/
/opencv-src/
/opencv-contrib-src/
/opencv-build/
/opencv-build-msvc/
/opencv-install/
opencv-build-*.log
opencv-build-*.err.log
/compile_commands.json
/docs/
data/
/models/*.onnx
*.pt
/debug/
/training/background/
/training/data/
/training/dataset/
/training/runs/
__pycache__/
.vscode/
*csv
CMakePresets.json
*report.txt
